{%  load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,
initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>42 Coffee Cups</title>
<!-- Bootstrap core CSS -->

<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<!-- Custom styles for this template -->
</head>

<body>

<div class="jumbotron" style="background-color:#f9e1b5">
  <h2 style="margin-left: 2cm;">42 Coffee Cups Test Assignment</h2>
</div>

{%	block	content	%}

{%	endblock %}

<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>