<html>
<head>
<title>42-test-clarafx</title>
</head>
<body>
<h1>42 Coffee Cups Test Assignment</h1>
<div id="main">
    <div id="left" style="float: left; width: 500px; background: #FFFFFF; height: 500px;">
        <h3>Clara</h3>
	<h3>Ferrando</h3>
	<h3>11-07-69</h3>

	<h3>Bio:</h3>
	<p>Born in a small town in Argentina. Studied Electronics Engineering at Universidad de Buenos Aires and pursued M.S. at Georgia Tech. Worked in telecommunications (satellite) and embedded software. Problem solver at heart. Interests: music (jazz), photography, biking, books. Family: married, proud mother of two girls :) </p>
    </div>

    <div id="right" style="float: left; width: 350px;background: #FFFFFF;">
        <h3>Contacts</h3>
	<h4>Email: clara.ferrando@gmail.com</h4>
	<h4>Jabber: clarafx</h4>
	<h4>Skype: claramferrando</h4>
	<h4>Other contacts: </h4>
	<p>Cell phone: +54-911-5653-5277 </p>
	<p>Twitter: chisoft </p>
    </div>
</div>
</body>
</html>